@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --glow-color: #dc143c;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.vertical-line {
  border-left: 5px solid black;
  height: 40%;
  position: fixed;
  top: 30%;
  z-index: 100;
}

.vertical-line-left {
  @apply vertical-line;
  left: 1.5%;
}

.vertical-lline-right {
  @apply vertical-line;
  right: 1.5%;
}

/* Add this to your existing globals.css */

blockquote p {
  font-family: 'Karla', serif !important;
  font-size: 1.8rem;
  color: rgb(161 161 170);
  /* zinc-400 */
  background-color: rgb(24 24 27 / 0.5);
  /* zinc-900/50 */
  border-left: 5px solid rgb(113 113 122);
  /* zinc-500 */
  padding: 2rem;
  margin: 20px 0;
  line-height: 1.6;
  text-align: justify;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

blockquote:hover {
  cursor: url('/butterfly32.gif'), auto;
}

blockquote p:hover {
  filter: invert(100%);
}