:global(:root) {
  --glow-color: #dc143c;
  --text-color: black;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
  font-family: 'Karla', sans-serif;
  backdrop-filter: blur(4px);
  z-index: 50;
}

.title {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
}

.menulist {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding-left: 0;
  align-items: baseline;
}

.menulist li {
  margin-left: 1rem;
}

.menulist a {
  color: var(--text-color);
  text-decoration: none;
}

.menulist a:hover,
.title:hover {
  color: var(--glow-color);
}

.glowText {
  color: white;
  text-shadow:
    0 0 5px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 15px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 25px var(--glow-color),
    0 0 30px var(--glow-color),
    0 0 35px var(--glow-color);
  transition: all 0.3s ease;
  animation: glowText 1.5s infinite alternate;
}

@keyframes glowText {

  0%,
  100% {
    text-shadow:
      0 0 5px var(--glow-color),
      0 0 10px var(--glow-color),
      0 0 15px var(--glow-color),
      0 0 20px var(--glow-color);
  }

  50% {
    text-shadow:
      0 0 10px var(--glow-color),
      0 0 20px var(--glow-color),
      0 0 30px var(--glow-color),
      0 0 40px var(--glow-color);
  }
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .container {
    padding: 1rem 0rem;
  }

  .antitesis {
    display: none;
  }

  .menulist {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
  }

  .title {
    text-align: center;
  }

  .menulist {
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }

  .menulist li {
    margin-left: 0;
  }

  .svgIcons,
  #suscribirseBoletin {
    display: none;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    justify-content: space-around;
    padding: 0;
  }
}